<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DigitalBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'users_backoffice' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-bank"></i> <span>Digital Bank</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_info">
                <h4>Nº da conta: <%= current_user.account_number %></h4>
                <br>
                <h4>Saldo: R$<%= current_user.account_balance %></h4>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li>
                    <%= link_to users_backoffice_users_path do %>
                      <i class="fa fa-home"></i>Início
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <i class="fa fa-edit"></i>Editar Perfil
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_backoffice_movements_deposit_path do %>
                      <i class="fa fa-money"></i>Depositar
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_backoffice_movements_withdraw_path do %>
                      <i class="fa fa-money"></i>Sacar
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_backoffice_movements_transfer_path do %>
                      <i class="fa fa-money"></i>Trasferir
                    <% end %>
                  </li>
                  <li>
                    <%= link_to users_backoffice_movements_movement_path do %>
                      <i class="fa fa-file-archive-o"></i>Extrato Bancário
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, :method => 'delete' do %>
                      <i class="fa fa-power-off"></i>Sair
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h1><strong>Digital Bank</strong></h1>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="x_panel">
                    <div class="x_content">
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <h1><strong>Edição do Perfil</strong></h1>
                        <%= render "users/shared/error_messages", resource: resource %>

                        <div class="field item form-group">
                          <%= f.label :full_name, 'Nome Completo', class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.text_field :full_name, autofocus: true, class:"form-control" %>
                          </div>
                        </div>

                        <div class="field item form-group">
                          <%= f.label :identification, 'CPF' , class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.text_field :identification, autofocus: true, class:"form-control" %>
                          </div>
                        </div>


                        <div class="field item form-group">
                          <%= f.label :phone, 'Telefone', class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.text_field :phone, autofocus: true, class:"form-control" %>
                          </div>
                        </div>

                        <div class="field item form-group">
                          <%= f.label :email, class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                          </div>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="field item form-group">
                          <%= f.label :birthday, 'Data de Nascimento', class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.date_field :birthday, autofocus: true, class:"form-control" %>
                          </div>
                        </div>

                        <br>
                        <h4><strong>Deixe em branco caso NÃO queira alterar a sua senha</strong></h4>
                        <h5>Lembre-se que a <strong>Nova senha</strong> deve conter <%= @minimum_password_length %> caracteres no mínimo</h5>
                        <br>

                        <div class="field item form-group">
                          <%= f.label :password, 'Nova senha', class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                          </div>
                        </div>

                        <div class="field item form-group">
                          <%= f.label :password_confirmation, 'Confirme a Nova senha', class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
                          </div>
                        </div>

                        <br>
                        <h4><strong>Digite sua senha atual para CONFIRMAR as suas alterações</strong></h4>
                        <br>
                        
                        <div class="field item form-group">
                          <%= f.label :current_password, 'Senha Atual', class:"col-form-label col-md-3 col-sm-3  label-align" %><br />
                          <div class="col-md-6 col-sm-6">
                            <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                          </div>
                        </div>

                        <div class="ln_solid">
                            <div class="form-group">
                                <div class="col-md-6 offset-md-3">
                                    <br>
                                    <div class="actions">
                                      <%= f.submit "Atualizar Perfil", class:"btn btn-success" %>
                                    </div>
                                    <button type='reset' class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>

  </body>
</html>